header{
   height: 100vh;
   padding-top: 7rem;
   overflow: hidden; 
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.header__socials{
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    

}
.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.photos{
    background: var(--color-primary);
    width:22rem;
    height: 30rem;
    position: absolute;
    left: 45%;
    transform: translateX(-50px);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden ;
    align-items: center;
   

}
.scroll__down{
    position: absolute;
    right: 10rem;
    transform: rotate(50deg);
    font-weight: 300;
    font-size: 0.9rem;
    color: white;
    /* left: 2rem; */
}

@media  screen and (max-width:1024px) {
    .header{
        height: 64vh;
    }
}

@media  screen and (max-width:600px) {
    .header{
        height: 100vh;
    }
    .header__socials, .scroll__down{
        display: none;
    }
}